<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Звідки</th>
        <th scope="col">Куди</th>
        <th scope="col">ФІО</th>
        <th scope="col">Email</th>
        <th scope="col">Телефон</th>
        <th scope="col">Час</th>
        <th scope="col">Дата</th>
        <th scope="col">Номер місця</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let ticket of user?.tickets; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{ticket.from}}</td>
        <td>{{ticket.to}}</td>
        <td> {{ticket.name}}</td>
        <td> {{ticket.email}}</td>
        <td> {{ticket.phone}}</td>
        <td> {{ticket.time.hours}}:{{ticket.time.minutes}}</td>
        <td> {{ticket.date | date:'dd/MM/yyyy'}}</td>
        <td> {{ticket.place}}</td>
      </tr>
    </tbody>
  </table>